[MESSAGES CONTROL]

# Explanations for the ignored messages:
# consider-using-f-string:
# As long as we support Python 2, we cannot use f-strings. This can be removed
# when Python 2 support is dropped.
#
# duplicate-code:
# Scraper contains some intentional boilerplate.
#
# super-with-arguments:
# As long as we support Python 2, the arguments are needed. This can be removed
# when Python 2 support is dropped.
disable=consider-using-f-string, duplicate-code, super-with-arguments

extension-pkg-whitelist=lxml
