pytest
coverage
pytest-cov
python-mimeparse
six
olefile
# file-magic 0.4.1 is broken, since it requires a newer libmagic that CentOS 7
# ships by default.
file-magic==0.4.0; python_version < '3.7'
file-magic; python_version >= '3.7'
pymediainfo
Pillow==6.0; python_version < '3.7'  # Pinned due to 6.1 causing a test case to fail
Pillow; python_version >= '3.7'
wand==0.6.1; python_version < '3.7'
wand; python_version >= '3.7'
lxml
click
pyexiftool==0.1; python_version < '3.7'
pyexiftool; python_version >= '3.7'
# Temporary patch for ffmpeg-python / jpeg2000 lossless detection
git+https://github.com/Digital-Preservation-Finland/ffmpeg-python.git#egg=ffmpeg_python
# Get our newest format string changes not yet present in official Fido repository
git+https://github.com/Digital-Preservation-Finland/fido.git#egg=opf_fido
