pytest
coverage
pytest-cov
python-mimeparse
six
olefile
opf-fido==1.3.12
file-magic
pymediainfo
Pillow==6.0  # Pinned due to 6.1 causing a test case to fail
wand>=0.5.1
lxml
# Temporary patch for ffmpeg-python / jpeg2000 lossless detection
git+https://github.com/Digital-Preservation-Finland/ffmpeg-python.git#egg=ffmpeg_python
