pytest
coverage
pytest-cov
python-mimeparse
olefile
file-magic
pymediainfo >= 7, < 8
Pillow
wand
lxml
click
pyexiftool
jpylyzer >= 2.2.0
# Temporary patch for ffmpeg-python / jpeg2000 lossless detection
git+https://github.com/Digital-Preservation-Finland/ffmpeg-python.git#egg=ffmpeg_python
# Get our newest format string changes not yet present in official Fido repository
git+https://github.com/Digital-Preservation-Finland/fido.git#egg=opf_fido
git+https://github.com/Digital-Preservation-Finland/xml-helpers.git#egg=xml_helpers
TODO: Add dpres-file-formats github URL
