pytest
coverage
pytest-cov
python-mimeparse
six
olefile
file-magic
pymediainfo
Pillow==6.0  # Pinned due to 6.1 causing a test case to fail
wand==0.5.9
lxml
click
# Temporary patch for ffmpeg-python / jpeg2000 lossless detection
git+https://gitlab.csc.fi/dpres/ffmpeg-python.git#egg=ffmpeg_python
# Get our newest format string changes not yet present in official Fido repository
git+https://gitlab.csc.fi/dpres/fido.git@develop#egg=opf_fido
